.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {width: 80%; background-color: #4CAF50;}
.css {width: 75%; background-color: #217813;}
.js {width: 70%; background-color: #f4ec36;}
.php {width: 70%; background-color: #808080;}
